@font-face {
  font-family: "iconfont"; /* Project id 3416219 */
  src: 
       url('iconfont.ttf?t=1655800841805') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e638";
}

.icon-twitter:before {
  content: "\e63d";
}

.icon-linkedin:before {
  content: "\e646";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-selected:before {
  content: "\e6ad";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-gengduo1:before {
  content: "\e620";
}

.icon-zuo:before {
  content: "\e63c";
}

.icon-chahao:before {
  content: "\e663";
}

.icon-gouwudai_o:before {
  content: "\eb60";
}

.icon-gengduo:before {
  content: "\e643";
}

.icon-wode:before {
  content: "\e619";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-gouwuche:before {
  content: "\e609";
}

